@model IEnumerable<BeFit.Models.TypCwiczenia>

<h2>Lista typów ćwiczeń</h2>

<p><a class="btn btn-primary" href="/TypCwiczenia/Utworz">Dodaj nowy</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nazwa</td>
                <td>
                    <a class="btn btn-info" href="/TypCwiczenia/Szczegoly/@item.Id">Szczegóły</a>
                    <a class="btn btn-warning" href="/TypCwiczenia/Edytuj/@item.Id">Edytuj</a>
                    <a class="btn btn-danger" href="/TypCwiczenia/Usun/@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>