@model BeFit.Models.TypCwiczenia

<h2>Dodaj nowy typ ćwiczenia</h2>

<form asp-action="Utworz" method="post">
    <div class="form-group">
        <label>Nazwa</label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3">Zapisz</button>
</form>